# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Virtual environment folders
env/
venv/

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db

